.vscode
log.*
processor*
0
polyMesh
debug.vtk
run
postProcessing
*/tables
dynamicCode
*.foam
*.stl
*.fms
*.hdf


# Ignore every stl file EXCEPT FOR the ones in the 'rocketMesh/___/___/parts' folder
!rocketMesh/rocketShort/noFinSupport/parts/*.stl