#!/bin/sh
cd "${0%/*}" || exit                                # Run from this directory
. ${WM_PROJECT_DIR:?}/bin/tools/RunFunctions        # Tutorial run functions
#------------------------------------------------------------------------------

MESH_DIR={{ mesh_file }}
MAP_DIR={{ map_file }}

mkdir constant
cp -r $MESH_DIR constant
touch case.foam

restore0Dir

{% if map_file != "none" %}
{{ "runApplication mapFields $MAP_DIR -sourceTime latestTime -mapMethod mapNearest" }}
{% endif %}

runApplication decomposePar

{% if map_file != "none" %}
{{ "# runParallel mapFieldsPar -parallel $MAP_DIR -sourceTime latestTime -mapMethod mapNearest" }}
{% endif %}

runParallel -append "$(getApplication)"

runApplication reconstructPar -latestTime 
#------------------------------------------------------------------------------
